conda create --name keji tensorflow=2.13.0 python=3.8.20
conda activate keji
conda install -c conda-forge notebook
conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia

pip install ipykernel
python -m ipykernel install --user --name=keji --display-name "Python (keji)"
pip install numpy==1.24.3 pandas==2.0.3 pillow==10.4.0 scikit-learn==1.3.2 nltk==3.9.1 requests==2.32.3 colorthief==0.2.1 beautifulsoup4==4.12.3

Download https://git-lfs.com/
git clone https://github.com/Kejnain/Semiotics_Thesis
git lfs install
git lfs pull

